* {
  box-sizing: border-box;
}

/* Font setup */

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.052rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.441rem;
  line-height: 1.35;
}

h3 {
  font-size: 1.953rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.563rem;
  line-height: 1.45;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
}

p {
  font-size: 1rem;
  line-height: 160%;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-container {
  width: 100%;
  background: #ffffff;
}

/* Header */

.header-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  font-size: 1.15rem;
}

.navigation li {
  padding-left: 40px;
}

.blue-btn {
  background-color: #010643;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 1rem;
}

.header-btn {
  padding: 10px 30px;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

/* Header end */


/* Hero */

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-column-1 p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

.border-btn {
  border: 2px solid #a1a1a1;
  color: #010643;
  padding: 8px 48px;
  border-radius: 50px;
  font-size: 1rem;
  margin-left: 10px;
}

.hero-img {
  width: 100%;
}

/* Hero end */

/* Mouse anitmation */

.mouse-animation-container {
  max-width: 1200px;
  margin: 0 auto;
}

.mouse-animation {
  text-align: center;
  padding-top: 40px;
}


/* Main content */

.columns-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.columns-container h2 {
  text-align: center;
}

.columns {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.col {
  text-align: center;
  margin: 0px 30px;
}

.om-oss-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.om-oss-content {
  padding-top: 60px;
  padding-left: 30px;
}

.om-oss-content p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

.tjanster-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tjanster-col-1 {
  padding-top: 100px;
}

.tjanster-col-2 {
  text-align: center;
}

.tjanster-col-3 {
  padding-top: 100px;
}








/* CTA Section */

.cta-container {
    background-color: #010643;
    margin: 0 auto;
    margin-top: 80px;
    min-height: 350px;
}

.cta-content {
  color: white;
  text-align: center;
  padding-top: 90px;
}

.form-nyhetsbrev {
  padding-top: 30px;
}

input[type=email] {
  border-radius: 20px;
  padding: 10px 50px;
  border: none;
}

input[type=button] {
  background-color: #31D498;
  color: white;
  padding: 10px 60px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  margin-left: 10px;
}



/* Footer */

.footer-container {
  width: 100%;
  background-color: #fafafa;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  min-height: 300px;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  display: flex;
  font-size: 1.15rem;
}

.footer-nav li {
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
}

/* Media Queries */